# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables & Credentials
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary / Cache files
.temp/
.cache/
dist/
build/
